@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.banner{
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%)
    ,
    url('../images/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 60px; */
    margin-bottom: 120px;
    margin-top: 80px;
    
}
.banner-item{
    height: 246px;
    width: 632px;
    margin-left: 350px ;
    padding-top: 110px;
    
}
.banner-greeting{
    font-size: 32px;
    font-family: "Merriweather",serif;
    color: #FFFFFF;
    text-align: center;
    


}
.banner-title{
    font-size: 72px;
    font-family: "Merriweather",serif;
    color: #FFFFFF;
    text-align: center;
}

/* main section  */

.offer-section{
    text-align: center;

}
.offer{
    font-size: 88px;
    font-weight: 700;
    
    font-family: "Inter",sans-serif;
    color: #FF0000;
    margin-top: 190px;
    margin-bottom: 48px;


}
.offer-title{
    font-size: 24px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 10px;

}
.offer-cat{
    font-size: 48px;
    font-weight: bold;
    
    font-family: "Inter",sans-serif;
    color: #070211;
    margin-bottom: 48px ;
}
.image-new-year{
    /* margin-top: 48px; */
    margin-bottom: 120px;

}

/* party  */

.party{
    border-radius: 16px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin: auto auto;
    /* margin-top: 190px; */
    /* margin-bottom: 80px; */
    border: none;
    display: flex;
    margin-bottom: 120px;

    
    

}
.party-pic{
    margin-top: 80px;
    color: #FFFFFF;

   
}
.party-item{
    width: 642px;
    padding: 126px;

}
.party-title{
    font-size: 64px;
    font-family: serif;
    color: #FFFFFF;
    margin-bottom: 24px;
    
}
.party-subtitle{
    font-size: 18px;
    
    font-family: "Inter",sans-serif;
    color: #FFFFFF;
    margin-bottom: 32px;

}

.btn{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    
    font-family: "Inter",sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    
    
    cursor: pointer;
}

/* place section  */
.location{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    height: 482px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 190px; */
    /* margin-bottom: 140px; */
    margin-bottom: 120px;
    

}
.date-time-place {
    width: 549px;
    height: 272px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding:110px;



}
.date-time-place span{
    color: #FF0000;
}
.place {
    font-size: 32px;

    font-family: "Inter",sans-serif;
    font-weight:600;
    text-align: center;
    margin-bottom: 8px;

}
.date-one {
    text-align: center;
    font-size: 32px;
    font-family: "Inter",sans-serif;
    font-weight:600;
    margin-bottom: 8px;

}
.time{
    text-align: center;
    font-size: 32px;
    
    font-family: "Inter",sans-serif;
    font-weight:600;
    
}
.place-btn-prime{
   margin-left: 200px;
   width: 167px;
   margin-top: 35px;
} 
.place-btn{
    color: #FFFFFF;
    background-color: #FF0000;
    padding:16px 32px 16px 32px;
    font-size: 20px;
    font-weight: bold;
    
    font-family: "Inter",sans-serif;
    cursor: pointer;
    border-radius: 8px;
}

/* comming soon section  */

.comming-soon{

    height: 482px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 135px;
   
  
   
}
.Celebration{
    display: flex;
    margin: 140px;
    text-align: center; 
    justify-content: space-around;
    margin-left: 5px;
    
    
}
.Celebration-one{
    width: 393px;
    height: 255px;
}
.Celebration-sub-one{
    width: 328px;
    height: 105px;
    margin-right: 126px;
}
.Celebration-sub{
    width: 393px;
    height: 128px;
    margin-right: 10px;
}
.best-offer{
    font-size: 24px;
    
    font-family: "Inter",sans-serif;
    font-weight: 500;
    color: #FF0000;
    
}
.soon{
    font-size: 48px;
    
    font-family: "Merriweather",serif;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-top: 10px;
    margin-bottom: 15PX;

}
.comming-subtitle{
    font-size: 20px;
    
    font-family: "Inter",sans-serif;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);

}
.Celebration-two{
    width: 463px;
    height: 463px;
    margin-right:15px ;
}
.Celebration-three{
    width: 276px;
    height: 170px;
}
.date{
    color: #FF0000;
    font-size: 48px;
    font-weight: bold;
    
    font-family: "Inter",sans-serif;
    margin-bottom: 4px;
} 
.Celebration-three-subtitle{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
    
}

/* sale banner section  */
.sale-banner{
    height: 482px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;


}
.sale-banner-lekha{
   
    width: 1068px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;

}
.sale-banner-title{
    
    font-family: "Inter",sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(7, 2, 17);
    text-align: center;
    


}
.sale-banner-heading{
    font-size: 72px;
    font-weight: 900;
    
    font-family: "Merriweather",serif;
    text-align: center;
    margin-top: 10px;
}
.sale-banner-heading span{
    color: #FF0000;
}
.sale-banner-subtitle{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter",sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;

}
.sale-banner-img-section{
    display: flex;
    
    width: 1320px;
    height: 662px;
    
}


.sale-banner-img-section-part-one{
    margin-top: 72px;
    margin-left: 40px;

  
}
.sale-banner-img-section-part-two{
    margin-top: 180px;
}




/* sell-item-section  */

.sell-items{
    width: 1320px;
    height: 1163px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 600px;

}
.sell-item-title{
    font-size: 24px;
    font-family:"Inter",sans-serif;
    font-weight: 500;
    color: rgb(255, 0, 0);
    letter-spacing: 0%;
    margin-bottom: 16px;
    


}
.sell-item-heading{
    font-size: 48px;
    font-family: "Merriweather",serif;
    font-weight: 900;
    color: rgb(7, 2, 17);
    letter-spacing: 0%;
    margin-bottom: 22px;


}
.sell-item-pera{
    font-size: 20px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    letter-spacing: 0%;

}
.sell-item-one{
    display: flex;
    margin-top: 48px;
    cursor: pointer;


}

.sell-item-two{
    display: flex;
    margin-top: 24px;
    cursor: pointer;
    

}
/* last banner section  */

.last-banner{
    width: 1320px;
    height: 616px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 16px;

    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 120px;
   


}
.last-banner-items{
    
}
.last-banner-heading{
    color: rgb(7, 2, 17);
    font-family:"Merriweather",serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;


}
.last-banner-pera{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter",sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;


}
.last-banner-email{
    border-radius: 50px;
    
  

}
.last-banner>button{
    
    

    border-radius: 0px 50px 50px 0px ;
    margin-top: 1.3px;
    
    
    color:rgb(255, 255, 255);
    font-size:20px ;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.last-banner ::placeholder{
      color: rgba(7, 2, 17, 0.3);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      height: 22px;
      
    
}

/* footer section  */

.footer-banner{
    background-color:  rgb(7, 2, 17);
    width:2110px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin-top: 140px;
}
.footer-description{
    display: flex;
    justify-content: space-between;

}
.footer-description-one{
    font-size: 24px;
    font-weight: 500px;
    font-family:"Inter",sans-serif ;
    color: rgb(255, 255, 255) ;
    width: 375px;
    height: 80px;
    margin-top: 100px; 
    margin-left: 30px;

}
.footer-description-two{
    width: 251px;
    height: 80px;
    margin-top: 80px;


}
.icons{
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    border-width: 2110px;
    border-top: 1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF ;
    
   
}
.footer-decision{
    display: flex;
    justify-content: space-between;
}
.des-one{
    width: 295px;
    height: 29px;
    color: rgb(255, 255, 255);
    font-family: "Inter",sans-serif;
    font-size: 24px;
    font-weight: 500; 
    margin-top:  200px; 
    margin-left: 20px;

}
.des-two{
    width: 145px;
    height: 29px;
    color: rgb(255, 255, 255);
    font-family: "Inter",sans-serif ;
    font-size: 24px;
    font-weight: 500;
    margin-top:  200px; 
    margin-right: 80px;
    
}
